In [3]:
import streamlit as st
import numpy as np
import pandas as pd

In [34]:
df = pd.DataFrame(
    np.random.rand(100,2)/(50,50)
)
df

           0         1
0   0.002706  0.005628
1   0.005507  0.019272
2   0.016419  0.002213
3   0.013043  0.019642
4   0.018031  0.009550
..       ...       ...
95  0.010283  0.013732
96  0.009049  0.002003
97  0.009117  0.019414
98  0.005460  0.011383
99  0.010407  0.000252

[100 rows x 2 columns]